%p Hello #{@resource.full_name}
%p You have requested to change your password on the AP11 site. However your account is not active so you cannot reset your password.
%p Please contact the AP11 team for further information.
