/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$navbarBackground: #fff;
$navbarBackgroundHighlight: #fff;

// remove box-shadow in the navbar

@import "bootstrap";
//body { padding-top: 70px; }

.banner td, tr, img  { padding: 0px; margin: 0px; border: none; }
.banner table { border-collapse: collapse; }
.table-value { font-weight: normal !important; }
#page_footer{ position: absolute; bottom: 0; margin-left: auto; margin-right: auto;}