/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require select2
*/

$navbarBackground: #fff;
$navbarBackgroundHighlight: #fff;
@import "bootstrap";

.banner td, tr, img  { padding: 0px; margin: 0px; border: none; }
.banner table { border-collapse: collapse; }
.table-value { font-weight: normal !important; }
.controls textarea { width: 100%; }
.select2-container, .select2-drop, .select2-search, .select2-search input{ width: 350px; }
.pagination { margin-top: 0; margin-bottom: 0; }
#page_footer{ position: absolute; bottom: 0; margin-left: auto; margin-right: auto; }
.btn-right { float: right }
.banner-label { color: white; margin-left: 8px; text-align: left; }
.nav { margin-bottom: 0; }
.link a { color: black !important; text-align: left;}
.dropdown-toggle { text-align: right; margin-right: 8px; }