#footer
  %table{ :align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "880"}
    %tbody
      %tr
        %td{:align => "right", :valign => "bottom"}
          %a{:href => "http://www.systemsbiology.org.au/", :target => "_blank"}
            %img{:alt => "Link to Systems Biology Initiative", :border => "0", :height => "80", :src => "/assets/logo_sbi.png"}

      %tr
        %td{:align => "right", :valign => "bottom"}

          %a{:href => "http://www.intersect.org.au/"}
            %img{:alt => "Intersect Logo", :src => "/assets/favicon.png", :height => "13"} &nbsp Developed by Intersect
          |
          %a{:href => "http://www.unsw.edu.au/gen/pad/privacy.html", :target => "_blank"} Privacy Policy
          |
          %a{:href => "http://www.unsw.edu.au/gen/pad/copyright.html", :target => "_blank"} Copyright and Disclaimer
          | CRICOS Provider Code 00098G | Authorised by Professor Marc Wilkins


