#sec_nav
  %p
    %a.head{:href => "/"} QUICK LINKS
  - if user_signed_in?
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href =>  experiments_path} View Experiments
      %li
      %li
        %a{:href => users_path} View Users
      %li.last
        %a{:href => access_requests_users_path} View Access Requests
      %li.last
        %a{:href => "/PartyRecord/new"} Add Party Record
  - else
    %ul
      %li
        %a{:href => "/"} Home
      %li.last
        %a{:href => "/"} Login/Sign up